<div>
        <h4>API Generator Utility v1</h4>
        <br>
        <div class="p-grid">

                <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City" optionLabel="name"
	                [showClear]="true" [style]="{'width': 'auto', 'margin-right': '20px' , 'margin-bottom': '20px'}" (onChange)="onChange(selectedCity.code)"></p-dropdown>


                <p-card header="Http Request Type" [style]="{'width': 'auto', 'margin-right': '20px' , 'margin-bottom': '20px'}">
                    
                    <div class="p-field-radiobutton">
                        <p-radioButton name="get" value="get" [(ngModel)]="httprequest" inputId="httprequest1"></p-radioButton>
                        <label for="httprequest1">Get Request</label>
                    </div>
                    
                    <div class="p-field-radiobutton">
                        <p-radioButton name="post" value="post" [(ngModel)]="httprequest" inputId="httprequest2"></p-radioButton>
                        <label for="httprequest2">Post Request</label>
                    </div>

                </p-card>
                
                <div>
                    <p-listbox  [options]="dataset?.data | keyvalue" 
                    [style]='{"margin-right":"20px" , "margin-bottom":"20px" , "width":"auto"}' 
                    optionLabel="key" 
                    [(ngModel)] = "tables" 
                    filter="filter"
                    multiple="false">
                        <p-header>    
                            <h4>Select Table</h4>
                        </p-header>
                    </p-listbox>
                
                </div>



                <p-card header="Endpoint Generated"  [style]="{'width': 'auto', 'margin-right': '20px' , 'margin-bottom': '20px'}">
                   
                    <tr *ngFor="let i of tables;">
                        
                        <div *ngIf="httprequest === 'post'; else elseBlock">{{post}}{{selectedCity.code}}/api/post/{{ i.key }}</div>
                        <ng-template #elseBlock>{{get}}{{selectedCity.code}}/api/data/{{ i.key }}</ng-template>

                        <!-- <td> {{post}}{{ i.key }}</td>  -->
                     </tr>
                  
                    
                </p-card>

                <p-card header="Parameters" *ngFor="let columns of tables | keyvalue" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
                    <tr *ngFor="let columname of columns.value.value | keyvalue">
                            {{columname.key}} 
                    </tr>
                </p-card>




        </div>

</div>

<!-- <table class="ui-g">
    


    <br><br><br>

    <ng-container *ngFor="let columns of tables | keyvalue" class="ui-g-3" >
        <p-listbox  [options]="columns.value.value | keyvalue" 
        [style]='{"margin":"10px" , "width":"200px"}' 
        optionLabel="key" 
        [(ngModel)] = "selectedDataset" >
            <p-header>    
                <h4>Parameters</h4>
            </p-header>
            
        </p-listbox>
    </ng-container>
</table> -->

<!-- <p-listbox  [options]="dataset?.data | keyvalue" 
[style]='{"margin":"10px" , "width":"400px"}' 
optionLabel="key" 
[(ngModel)] = "tables" 
filter="true">
    <p-header>    
        <h4>Select Table</h4>
    </p-header>
</p-listbox> -->





